{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" autocomplete="off">
      {% csrf_token %}
      <img class="mb-4" src="https://www.geekuniversity.com.br/static/images/favicon.4fcb819d32bf.ico" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal"> Inform your data </h1>
      <label for="username" class="sr-only">E-mail</label>
      <input type="email" id="username" name="username" class="form-control" placeholder="Inform your email" required autofocus>
      <label for="password" class="sr-only"> Password </label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Inform your password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit"> Acess </button>
      <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %} </p>
    </form>
{% endblock %}